body {
    font-family: Verdana, sans-serif;
}

h1,
h2 {
    font-family: Georgia, serif;
}

.title {
    color: white;
    background-color: black;
    text-align: center;
}

.recipe-image {
    width: 512;
    height: auto;
}
